#AreaHeader {
    height: auto;
    background-color: #4169E1;
}

.row {
    align-items: center;
}

#SeccionLogo {
    text-align: left;
}

#SeccionLogo img {
    height: 54px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#SeccionBotones {
    text-align: right;
}

#SeccionBotones img {
    height: 40px;
    margin: 0.2em;
}

#SeccionBotones button {
    margin: 0.2em;
}

@media (max-width: 575px) {
    .container-fluid {
        flex-direction: column;
    }

    #SeccionLogo img {
        height: 36px;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    #SeccionBotones img {
        height: 20px;
        margin: 0.2ssem;
    }
}
