<!-- Cuerpo Princpal -->
<div clas="container-fluid table-responsive">
    <h3>
        Cursos Realizados
        <button type="button" class="btn btn-dark" 
            (click)="onModal(Add)" *ngIf="isLogged">
            <i class="bi bi-plus-circle"></i>
        </button>
    </h3>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Instituto</th>
                <th>Lugar</th>
                <th>Horas</th>
                <th *ngIf="isLogged">---</th>
                <th *ngIf="isLogged">---</th>
            </tr>
            <tr *ngFor="let campo of arreglo">
                <td>{{campo.nombre}}</td>
                <td>{{campo.instituto}}</td>
                <td>{{campo.lugar}}</td>
                <td>{{campo.horas}}</td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-success" 
                        (click)="onLocate(campo.id, Mod)">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-danger" 
                        (click)="onDelete(campo.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Añadir Registro -->
<ng-template #Add let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Añadir Cursos</h4>     
        <button type="button" class="close" aria-label="close" 
            (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" 
                    id="nombre" name="nombre" 
                    [(ngModel)]="nombre" required />
            </div>
            <p></p>
            <div class="form-group">
                <label for="instituto">Instituto</label>
                <input type="text" class="form-control" 
                    id="instituto" name="instituto" 
                    [(ngModel)]="instituto" required />
            </div>
            <p></p>
            <div class="form-group">
                <label for="lugar">Lugar</label>
                <input type="text" class="form-control" 
                    id="lugar" name="lugar" 
                    [(ngModel)]="lugar" />
            </div>
            <p></p>
            <div class="form-group">
                <label for="horas">Horas</label>
                <input type="number" class="form-control" 
                    id="horas" name="horas" 
                    [(ngModel)]="horas" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-success" 
                (click)="modal.close()">Añadir
            </button>
        </form>
    </div>
</ng-template>

<!-- Modificar Registro -->
<ng-template #Mod let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar Cursos</h4>     
        <button type="button" class="close" aria-label="close" 
            (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onUpdate(objeto.id)" novalidate #f="ngForm" *ngIf="objeto">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" 
                    id="nombre" name="nombre" 
                    [(ngModel)]="objeto.nombre" required />
            </div>
            <p></p>
            <div class="form-group">
                <label for="instituto">Instituto</label>
                <input type="text" class="form-control" 
                    id="instituto" name="instituto" 
                    [(ngModel)]="objeto.instituto" required />
            </div>
            <p></p>
            <div class="form-group">
                <label for="lugar">Lugar</label>
                <input type="text" class="form-control" 
                    id="lugar" name="lugar" 
                    [(ngModel)]="objeto.lugar" />
            </div>
            <p></p>
            <div class="form-group">
                <label for="horas">Horas</label>
                <input type="number" class="form-control" 
                    id="horas" name="horas" 
                    [(ngModel)]="objeto.horas" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-success" 
                (click)="modal.close()">Actualizar
            </button>
        </form>
    </div>
</ng-template>
