<div class="wrapper">
    <div class="logo">
        <img src="../../../assets/Logo_ArgentinaPrograma.png" alt="">
        <!---
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
        -->
    </div>
    <div class="text-center mt-4 name">
        My Web Portfolio
    </div>
    <!-- Código incorporado al formulario -->
    <form class="p-3 mt-3" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario" required />
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="password" required />
        </div>
        <button class="btn mt-3" type="submit">Ingresar</button>
    </form>
    <!-- 
    <div class="text-center fs-6">
        <a href="#">¿Olvidaste tu clave?</a> / <a href="#">Registrarse</a> 
    </div>
    -->
</div>
