<!-- Area de Pestañas -->
<div id="AreaTabs" class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" 
                href="#SeccionEstudios" 
                data-bs-toggle="tab">Estudios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                href="#SeccionExperiencia" 
                data-bs-toggle="tab">Experiencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                href="#SeccionCursos" 
                data-bs-toggle="tab">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                href="#SeccionHabilidades" 
                data-bs-toggle="tab">Habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                href="#SeccionProyectos" 
                data-bs-toggle="tab">Proyectos</a>
            </li>
        </ul>
    </div>
</div>
