<!-- Área de Panel de Elementos del Portfolio -->
<div id="AreaPanel" class="container-fluid">
    <div class="tab-content row">
        <div id="SeccionEstudios" class="tab-pane fade show active">
            <app-estudios></app-estudios>
        </div>
        <div id="SeccionExperiencia" class="tab-pane fade">
            <app-experiencia></app-experiencia>
        </div>
        <div id="SeccionCursos" class="tab-pane fade">
            <app-cursos></app-cursos>
        </div>
        <div id="SeccionHabilidades" class="tab-pane fade">
            <app-habilidades></app-habilidades>
        </div>
        <div id="SeccionProyectos" class="tab-pane fade">
            <app-proyectos></app-proyectos>
        </div>
    </div>
</div>
